.hideChats {
    display: flex;
}

 .messages {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    scrollbar-width: none;
}

@media only screen and (max-width: 768px) {
    .hideChats {
        display: none;
    }
    .chatBoxDisplay{
        display: none;
    }
}

